
<ul style="height:100vh">
  <li class="sq-panel sq-panels-area-1">A</li>
  <li class="sq-panel sq-panels-area-2">B</li>
  <li class="sq-panel sq-panels-area-3">C</li>
  <li class="sq-panel sq-panels-area-4">D</li>
</ul>
